{% extends "base.html" %}

{% block search %}
    <div class="row search-div green darken-1">
        <form action="{{ url_for('search') }}" method="post" class="col offset-m2 offset-l3 s12 m8 l6" id="navSearch">
            <div class="input-field search-container white">
                <input id="search" type="text" name="search">
                <label for="search">Find a word...</label>
                <button class="search-button" type="submit">
                    <i class="material-icons suffix">search</i>
                </button> 
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}

    <h3 class="center main-heading">Words Beginning With "{{ current_letter }}"</h3>

    <!-- Dropdown Triggers -->
    <div class="row">
        <div class="col s12">
            <a class='dropdown-trigger btn amber darken-2' href='#' data-target='lettersDropdown'>
                Letters A-Z <i class="material-icons">arrow_drop_down</i>
            </a>
            <a class='dropdown-trigger btn right grey darken-3' href='#' data-target='sortDropdown'>
                Order Words By <i class="material-icons">arrow_drop_down</i>
            </a>
        </div>
    </div>
    

    <!-- Dropdown Structure Letters -->
    <ul id='lettersDropdown' class='dropdown-content'>
        {% for letter in letters %}
        <li><a href="{{ url_for('display_by_letter', letter=letter) }}">{{ letter }}</a></li>
        {% endfor %}
    </ul>

    <!-- Dropdown Structure Sort By -->
    <ul id="sortDropdown" class="dropdown-content">
        <li><a href="{{ url_for('sort_all', field='name', order='+') }}">
            <i class="material-icons sort-icons grey-text text-darken-3">sort_by_alpha</i>
            <span class="green-text text-darken-1">
                 Alphabet <i class="material-icons">arrow_downward</i>
            </span>
            
        </a></li>
        <li><a href="{{ url_for('sort_all', field='name', order='-') }}">
            <i class="material-icons sort-icons grey-text text-darken-3">sort_by_alpha</i>
            <span class="green-text text-darken-1">
                 Alphabet <i class="material-icons">arrow_upward</i>
            </span>
            
        </a></li>
        <li><a href="{{ url_for('sort_all', field='rating', order='-') }}">
            <i class="material-icons sort-icons grey-text text-darken-3">star</i>
            <span class="green-text text-darken-1">
                 Rating <i class="material-icons">arrow_downward</i>
            </span>
        </a></li>
        <li><a href="{{ url_for('sort_all', field='rating', order='+') }}">
            <i class="material-icons sort-icons grey-text text-darken-3">star</i>
            <span class="green-text text-darken-1">
                 Rating <i class="material-icons">arrow_upward</i>
            </span>
        </a></li>
    </ul>

    <div class="row all-words-container">
        {% for word in words %}
            <div class="col s12 m6">
                <div class="card green darken-1">
                    {% if word.rating > 6 %}
                        <a class="tooltipped right" data-position="bottom" data-tooltip="This is a featured word.">
                            <span><i class="star-word-icon material-icons">star</i></span>
                        </a>                        
                    {% endif %}
                    <div class="card-content word-summary white-text">
                        <span class="card-title"><strong>{{ word.name }}</strong></span>
                        <p>{{ word.meaning }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('word_page', word_Id=word._id) }}">Click here to find out more!</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col s10 offset-s1 offset-l3 opaque-text no-words-text">
                <h5>Sorry, we don't have any words that begin with this letter yet...</h5>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}