{% extends "base.html" %}

{% block search %}
    <div class="row green darken-1">
        <form action="{{ url_for('search') }}" method="post" class="col offset-m2 offset-l3 s12 m8 l6" id="navSearch">
            <div class="input-field search-container white">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" name="search">
                <label for="search">Enter a word or a tag e.g 'Yurt' or 'Limerick'</label>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}

<h3>Tag page for {{ tag.name }}</h3>

<ul>
    {% for word in words %}
        <li>{{ word.name }}</li>
    {% endfor %}
</ul>

{% endblock %}