{% extends "base.html" %}
{% block content %}

    <h3 class="center main-heading">Words Beginning With "{{ current_letter }}"</h3>

    <!-- Dropdown Trigger -->
    <div class="row">
        <div class="col s6">
            <a class='dropdown-trigger btn-large amber darken-2' href='#' data-target='dropdown1'>
                Words by Letter - A-Z <i class="material-icons">arrow_drop_down</i>
            </a>
        </div>
    </div>
    

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">A</a></li>
        <li><a href="{{ url_for('display_by_letter', letter=letters[1]) }}">B</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>

    <div class="row all-words-container">
        {% for word in words %}
            <div class="col s12 m6">
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><strong>{{ word.name }}</strong></span>
                        <p>{{ word.meaning }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('word_page', word_Id=word._id) }}">Click here to find out more!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}