{% extends "base.html" %}
{% block content %}

    <h3 class="center main-heading" id="userProfileHeading">{{ user.name }}'s Profile</h3>
    <div class="row">
        <div class="col s4 m2 offset-m2">
            <img src="/static/images/user_image.png" alt="an image of a user icon" class="edit-user-image-icon">
        </div>
        <div class="basic-user-info">
            <span>{{ user.name }}</span><br>
            <span>Joined: <span id="profile-date-joined">{{ user.dateJoined }}</span></span>
        </div>
    </div>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_profile', username=user.name) }}">
            <div class="row">
                <span class="form-instruction">Tell Us Where You're From:</span>
                <div class="input-field col s12">
                    <input id="country" name="country" type="text" value="{{ user.country }}">
                    <label for="country">Country</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="city" name="city" type="text" value="{{ user.city }}">
                    <label for="city">City</label>
                </div>
            </div>
            <div class="row">
                <span class="form-instruction">Tell Us About Yourself:</span>
                <div class="input-field col s12">
                    <textarea id="description" name="description" class="materialize-textarea">{{ user.description }}</textarea>
                    <label for="description">Personal Description</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m4">
                    <a class="btn-large amber darken-2" href="{{ url_for('profile', user_id=session['id']) }}">
                        Cancel <i class="small material-icons">close</i>
                    </a>
                    <button class="sort-button btn-large blue" type="submit">Submit <i class="small material-icons">check</i></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}