{% extends "base.html" %}

{% block search %}
    <div class="row search-div dark-green">
        <form action="{{ url_for('search') }}" method="post" class="col offset-m2 offset-l3 s12 m8 l6" id="navSearch">
            <div class="input-field search-container white">
                <input id="search" type="text" name="search">
                <label for="search">Find a word...</label>
                <button class="search-button" type="submit">
                    <i class="material-icons suffix">search</i>
                </button>                    
            </div>
        </form>
    </div>
{% endblock %}

{% block hero_image %}
    <div class="row hero-image">
        <img src="static/images/hero-2.png" alt="An image of Limerick city">
    </div>
{% endblock %}

{% block content %}
    
    <h3 id="homePageHeading" class="center main-heading"> What is the Yurt Index?</h3>

    <div class="row home-description">
        <div class="col">
            <p>
                The Yurt Index aims to be a definitive list of Irish slang online. With a particular focus on a lot of
                the slang local to Limerick, that's been introduced to the Irish mainstream thanks to the work of
                <a href="https://www.youtube.com/user/rubberbandits" target="_blank">The Rubberbandits</a>, and
                the books from author
                <a href="https://twitter.com/Rubberbandits?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    Blindboy Boatclub. </a> The Yurt Index is open to everyone. If you know some wicked Irish lingo,
                if you want to edit a word that's not quite right, add an alternative spelling or definition or
                perhaps add another use; <a href="#">click here to register!</a>
            </p>
        </div>
    </div>

    {% if session.user %}
    <div class="center">
        <a href="{{ url_for('new_word') }}" class="new-word-call-to-action text-shadow">Add a New Word!</a>
    </div>
    {% endif %}

    <h4 class="center main-heading">Featured Words</h4>

    <div class="row featured-words">
        
        <div class="col s12 m6">
            <div class="card dark-green">
                {% if words[0].rating > 6 %}
                    <a class="tooltipped right" data-position="bottom" data-tooltip="This is a featured word.">
                        <span><i class="star-word-icon material-icons">star</i></span>
                    </a>                        
                {% endif %}
                <div class="card-content word-summary white-text">
                    <span class="card-title">{{ words[0].name.capitalize() }}</span>
                    <p>{{ words[0].meaning }}</p>
                </div>
                <div class="link-to-word card-action">
                    <a href="{{ url_for('word_page', word_Id=words[0]._id) }}">Click here to find out more!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card dark-green">
                {% if words[1].rating > 6 %}
                    <a class="tooltipped right" data-position="bottom" data-tooltip="This is a featured word.">
                        <span><i class="star-word-icon material-icons">star</i></span>
                    </a>                        
                {% endif %}
                <div class="card-content word-summary white-text">
                    <span class="card-title">{{ words[1].name.capitalize() }}</span>
                    <p>{{ words[1].meaning|truncate(115, True) }}</p>
                </div>
                <div class="link-to-word card-action">
                    <a href="{{ url_for('word_page', word_Id=words[1]._id) }}">Click here to find out more!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card dark-green">
                {% if words[2].rating > 6 %}
                    <a class="tooltipped right" data-position="bottom" data-tooltip="This is a featured word.">
                        <span><i class="star-word-icon material-icons">star</i></span>
                    </a>                        
                {% endif %}
                <div class="card-content word-summary white-text">
                    <span class="card-title">{{ words[2].name.capitalize() }}</span>
                    <p>{{ words[2].meaning|truncate(115, True) }}</p>
                </div>
                <div class="link-to-word card-action">
                    <a href="{{ url_for('word_page', word_Id=words[2]._id) }}">Click here to find out more!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card dark-green">
                {% if words[3].rating > 6 %}
                    <a class="tooltipped right" data-position="bottom" data-tooltip="This is a featured word.">
                        <span><i class="star-word-icon material-icons">star</i></span>
                    </a>                        
                {% endif %}
                <div class="card-content word-summary white-text">
                    <span class="card-title">{{ words[3].name.capitalize() }}</span>
                    <p>{{ words[3].meaning|truncate(115, True) }}</p>
                </div>
                <div class="link-to-word card-action">
                    <a href="{{ url_for('word_page', word_Id=words[3]._id) }}">Click here to find out more!</a>
                </div>
            </div>
        </div>       
    </div>

{% endblock %}