{% extends "base.html" %}

{% block search %}
    <div class="row green darken-1">
        <form action="{{ url_for('search') }}" method="post" class="col offset-m3 s12 m6" id="navSearch">
            <div class="input-field search-container white">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" name="search">
                <label for="search">Search</label>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="row hero-image">
        <img src="static/images/limerick2.png" alt="An image of Limerick city">
    </div>

    <h3 class="center main-heading"> What is the Yurt Index?</h3>

    <div class="row home-description">
        <div class="col green darken-1 white-text">
            <p>
                The Yurt Index aims to be a definitive list of Irish slang online. With a particular focus on a lot of
                the slang local to Limerick, that's been introduced to the Irish mainstream thanks to the work of
                <a href="https://www.youtube.com/user/rubberbandits" target="_blank">The Rubberbandits</a>, and
                the books from author
                <a href="https://twitter.com/Rubberbandits?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    Blindboy Boatclub. </a> The Yurt Index is open to everyone. If you know some wicked Irish lingo,
                if you want to edit a word that's not quite right, add an alternative spelling or definition or
                perhaps add another use; <a href="#">click here to register!</a>
            </p>
        </div>
    </div>

    <h4 class="center main-heading">Featured Words</h4>

    <div class="row featured-words">
        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content word-summary white-text">
                    <span class="card-title"><strong>{{ words[0].name.capitalize() }}</strong></span>
                    <p>{{ words[0].meaning }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('word_page', word_Id=words[0]._id) }}">Click here to find out more!</a>
                </div>
            </div>
        </div>
        <div class="row featured-words">
            <div class="col s12 m6">
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><strong>{{ words[1].name.capitalize() }}</strong></span>
                        <p>{{ words[1].meaning }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('word_page', word_Id=words[1]._id) }}">Click here to find out more!</a>
                    </div>
                </div>
            </div>
            <div class="row featured-words">
                <div class="col s12 m6">
                    <div class="card green darken-1">
                        <div class="card-content white-text">
                            <span class="card-title"><strong>{{ words[2].name.capitalize() }}</strong></span>
                            <p>{{ words[2].meaning }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('word_page', word_Id=words[2]._id) }}">Click here to find out more!</a>
                        </div>
                    </div>
                </div>
                <div class="row featured-words">
                    <div class="col s12 m6">
                        <div class="card green darken-1">
                            <div class="card-content white-text">
                                <span class="card-title"><strong>{{ words[3].name.capitalize() }}</strong></span>
                                <p>{{ words[3].meaning }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('word_page', word_Id=words[3]._id) }}">Click here to find out more!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}