{% extends "base.html" %}
{% block content %}
    <h3 class="center main-heading">Log In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('log_in') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person_add</i>                  
                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>                        
                    </div>
                </div>                
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>                  
                        <input id="password" name="password" type="password" minlength="5" maxlength="25"
                            class="validate" required>
                        <label for="password">Password</label>                        
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn-large right deep-purple lighten-1">Log In</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}