{% extends "base.html" %}
{% block content %}

    <h3 class="center main-heading">New Word</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('new_word') }}">
            <!-- word name -->
            <span class="form-instruction">Write the word here:</span>
            <div class="input-field new-word-input col s12">
                <input name="new_name" id="new_name" type="text" class="validate" required>
                <label for="new_name" class="input-field-name">Word</label>
            </div>

            <!-- alternative spellings of word -->
            <div class="col s12 form-modal-button">
                <a class="btn modal-trigger add-alt-button" href="#modal1"><i class="tiny material-icons">add_circle</i> Add other spellings</a>
            </div>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Other Spellings</h4>
                    <div class="input-field">
                        <input name="alt_spell_1" id="alt_spell_1" type="text">
                        <label for="alt_spell_1">New spelling 1</label>
                    </div>
                    <div class="input-field">
                        <input name="alt_spell_2" id="alt_spell_2" type="text">
                        <label for="alt_spell_2">New spelling 2</label>
                    </div>
                    <div class="input-field">
                        <input name="alt_spell_3" id="alt_spell_3" type="text">
                        <label for="alt_spell_3">New spelling 3</label>
                    </div>
                    <div class="input-field">
                        <input name="alt_spell_4" id="alt_spell_4" type="text">
                        <label for="alt_spell_4">New spelling 4</label>
                    </div>
                    <div class="input-field">
                        <input name="alt_spell_5" id="alt_spell_5" type="text">
                        <label for="alt_spell_5">New spelling 5</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
                </div>
            </div>

            <!-- word meaning -->
            <div class="form-section">
                <span class="form-instruction">Tell us what the word means:</span>
                <div class="input-field new-word-input col s12">
                    <textarea name="meaning" id="meaning" class="validate materialize-textarea" required></textarea>
                    <label for="meaning" class="input-field-name">Definition</label>
                </div>
            </div>

            <!-- alternative meanings of word -->
            <div class="col s12 form-modal-button">
                <a class="btn modal-trigger add-alt-button" href="#modal2"><i class="tiny material-icons">add_circle</i> Add other definitions</a>
            </div>

            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Other Definitions</h4>
                    <div class="input-field">
                        <textarea name="alt_def_1" id="alt_def_1" class="materialize-textarea"></textarea>
                        <label for="alt_def_1">New definition 1</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_def_2" id="alt_def_2"  class="materialize-textarea"></textarea>
                        <label for="alt_def_2">New definition 2</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_def_3" id="alt_def_3" class="materialize-textarea"></textarea>
                        <label for="alt_def_3">New definition 3</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_def_4" id="alt_def_4" class="materialize-textarea"></textarea>
                        <label for="alt_def_4">New definition 4</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_def_5" id="alt_def_5" class="materialize-textarea"></textarea>
                        <label for="alt_def_5">New definition 5</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
                </div>
            </div>

            <!-- word use -->
            <div class="form-section">
                <span class="form-instruction">Use the word in a sentence:</span>
                <div class="input-field new-word-input col s12">
                    <textarea name="use" id="use" class="validate materialize-textarea" required></textarea>
                    <label for="use" class="input-field-name">Example</label>
                </div>
            </div>

            <!-- alternative uses of word -->
            <div class="col s12 form-modal-button">
                <a class="btn modal-trigger add-alt-button" href="#modal3"><i class="tiny material-icons">add_circle</i> Add other examples</a>
            </div>

            <!-- Modal Structure -->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Other Examples</h4>
                    <div class="input-field">
                        <textarea name="alt_use_1" id="alt_use_1" class="materialize-textarea"></textarea>
                        <label for="alt_use_1">New example 1</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_use_2" id="alt_use_2" class="materialize-textarea"></textarea>
                        <label for="alt_use_2">New example 2</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_use_3" id="alt_use_3" class="materialize-textarea"></textarea>
                        <label for="alt_use_3">New example 3</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_use_4" id="alt_use_4" class="materialize-textarea"></textarea>
                        <label for="alt_use_4">New example 4</label>
                    </div>
                    <div class="input-field">
                        <textarea name="alt_use_5" id="alt_use_5" class="materialize-textarea"></textarea>
                        <label for="alt_use_5">New example 5</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
                </div>
            </div>

            <!-- tags -->
            <div class="form-section">
                <span class="form-instruction">Tag this word:</span><br>
                <div class="input-field col s12 m8 l6">
                    <select id="tag_1" name="tag_1">
                        <option value="" disabled selected>Add a tag</option>
                        {% for tag in tags %}
                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Tags</label>
                </div>
            </div>

            <div class="col s12 form-modal-button">
                <a class="btn modal-trigger add-alt-button" href="#modal4"><i class="tiny material-icons">add_circle</i> Add more tags</a>
            </div>


            <!-- Modal Structure -->
            <div id="modal4" class="modal">
                <div class="modal-content">
                    <h4>Add Extra Tags</h4>
                    <div class="row">
                        <div class="input-field col s11">
                            <select id="tag_2" name="tag_2">
                                <option value="" disabled selected>Add a tag</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Tags</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s11">
                            <select id="tag_3" name="tag_3">
                                <option value="" disabled selected>Add a tag</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Tags</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s11">
                            <select id="tag_4" name="tag_4">
                                <option value="" disabled selected>Add a tag</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Tags</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s11">
                            <select id="tag_5" name="tag_5">
                                <option value="" disabled selected>Add a tag</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Tags</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
                </div>
            </div>

            <!-- submit/cancel buttons -->
            <div class="col s12 new-word-cancel-submit">
                <button class="btn red">Cancel <i class="small material-icons">close</i></button>
                <button class="btn blue" type="submit">Submit <i class="small material-icons">check</i></button>
            </div>
        </form>
    </div>

{% endblock %}