{% extends "base.html" %}
{% block content %}
<div class="row basic-user-info-container">
    <div class="col s12 m6 image-info">
        <img src="static/images/user_image.png" alt="an image of a user icon" class="user-image-icon">
        <div class="basic-user-info">
            <span>Mike</span><br>
            <span>place@holder.com</span><br>
            <span>Joined: <span id="profile-date-joined"> 00/00/00</span></span>
        </div>
        
    </div>
    <div class="col s12 m6 user-buttons">
        <a href="#" class="btn-large deep-purple lighten-1">Edit Your Profile</a>
        <a href="#" class="btn-large red text-white">Delete Your Profile</a>
    </div>
</div>

{% endblock %}