{% extends "base.html" %}

{% block search %}
    <div class="row green darken-1">
        <form action="{{ url_for('search') }}" method="post" class="col offset-m2 offset-l3 s12 m8 l6" id="navSearch">
            <div class="input-field search-container white">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" name="search">
                <label for="search">Enter a word or a tag e.g 'Yurt' or 'Limerick'</label>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}


    <div class="word-card col s12 m6">
        <div class="card green darken-1">
            <div class="card-content white-text">
                <span class="card-title">
                    <strong>{{ word.name.capitalize() }}</strong>
                </span>

                <!-- alternate spellings check -->
                {% if word.hasAltSpellings %}
                    <span class="alternative-spellings-container"> [Alternative spellings:
                        {% for spelling in word.altSpellings %}
                            <span class="alternative-spellings">{{ spelling }}</span>
                        {% endfor %}
                        ]
                {% endif %}
                </span>

                <!-- alternate definitions check -->
                {% if word.hasAltDefinitions %}
                    <h6><strong>Definitions:</strong></h6>
                    <ul class="definitions-list">
                        <li> {{ word.meaning }} </li>
                        {% for definition in word.altDefinitions %}
                            <li> {{ definition }} </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <h6><strong>Definition:</strong></h6>
                        <p> {{word.meaning}} </p>
                {% endif %}

                <!-- display all uses -->
                <h6><strong>Word in use:</strong></h6>
                {% if word.uses|length > 1 %}
                    <ul class="uses-list">
                        {% for use in word.uses %}
                            <li> {{ use }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p> {{ word.uses[0] }} </p>
                {% endif %}

                <!-- display who created the word and when -->
                <p>
                    Created by:
                    <span class="created-by">{{ user.name }}</span> on <span
                        class="date-created">{{ word.dateCreated }}</span>
                </p>
                <p>
                    {% if word.edited %}
                    Last edit by
                        <span class="edited-by">{{ last_edit.name }}</span> on <span
                            class="last-edit-date">{{ word.lastEditedDate}}</span>
                    {% endif %}
                </p>

                <!-- display tags or inform user that word is untagged -->
                <div class="row">
                    <div class="col s12">
                        <h6><strong>Tags:</strong></h6>
                    </div>
                    {% if word.isTagged %}                        
                        <div class="col tags-container post">
                            <ul class="tags">
                                {% for tag in tags %}
                                    <li><a href="{{ url_for('display_by_tag', tag_id=tag._id) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    {% else %}
                    <div class="col s12">
                        <span>This word is untagged.</span>
                    </div>
                    {% endif %}
                </div>

            </div>
            <div class="card-action">
                {% if session.user %}
                    {% if session.user.lower() in liked %}
                        <a id="unrate-link-up" href="{{ url_for('unrate', username=session['user'], rating='up', word_id=word._id) }}">
                            <i class="material-icons already-rated-up">thumb_up</i>
                        </a>
                    {% else %}
                        <a id="not-rated-up" href="{{ url_for('rating_up', word_id=word._id, username=session['user']) }}">
                            <i class="material-icons">thumb_up</i>
                        </a>
                    {% endif %}

                    {% if session.user.lower() in disliked %}
                        <a id="unrate-link-down" href="{{ url_for('unrate', username=session['user'], rating='down', word_id=word._id) }}">
                            <i class="material-icons already-rated-down">thumb_down</i>
                        </a>
                    {% else %}
                        <a id="not-rated-down" href="{{ url_for('rating_down', word_id=word._id, username=session['user']) }}">
                            <i class="material-icons">thumb_down</i>
                        </a>
                    {% endif %}

                    <span class="rating-number"> {{ word.rating }} </span>

                {% else %}
                    <span><a href="">Log in</a> or <a href="">register</a> to edit this word, and more!</span>            
                {% endif %}
                <div class="edit-delete-buttons">
                    <a class="btn deep-purple lighten-1 right" href="{{ url_for('edit_word', word_Id=word._id) }}">Edit</a>
                    <a class="btn red right" href="{{ url_for('delete_word', word_Id=word._id) }}">Delete</a>
                </div>
                {% if session.user %}
                    <div class="col s12 rating-info-container">                       
                        {% if session.user.lower() in liked %}
                            <span>You've liked this word!</span>
                        {% endif %}
                        {% if session.user.lower() in disliked %}
                            <span>You've disliked this word!</span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}